* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    margin-left: 15%;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    width: 90%;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 15%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.project-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-btn, .task-btn {
    width: 150px;
    background: none;
    border: none;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    column-gap: 10px;
}

button > img {
    justify-self: end;
}

button > p, button > h4 {
    justify-self: start;
    text-align: start;
}

.task-icon {
    height: 1.2em;
}


.project-icon {
    height: 2em;
}

button:hover {
    cursor: pointer;
}

.task {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.title {
    grid-column: 1 / -1;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#add-task-btn {
    display: block;
    text-align: center;
    font-size: 2rem;
    width: 40px;
    height: 40px;
}

dialog {
    position: absolute;
    left: 40%;
    top: 20%;
    width: 30%;
    min-width: 200px;
    max-width: 500px;
    height: 40%;
    min-height: 300px;
    max-height: 600px;
    background-color: white;
}

form {
    height: 80%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    border: 1px solid lightgray;
    padding: 10%;
}

#new-project-form {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

#select-tasks-label {
    grid-column: 1 / -1;
}

form > button {
    background-color: forestgreen;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    grid-column: 1 / -1;
}

form > select {
    grid-column: 1 / -1;
}

.invalid {
    box-shadow: 5px 5px 5px red;
}